 <!-- Single Products Detail -->
    {{!-- <div class="small-container single-product">
      <div class="row">
        <div class="col-2">
          <img src="/assets/images/gallery-1.jpg" width="100%" id="ProductImg" />

          <div class="small-img-row">
            <div class="small-img-col">
              <img src="/assets/images/gallery-1.jpg" class="small-img" />
            </div>
            <div class="small-img-col">
              <img src="/assets/images/gallery-2.jpg" class="small-img" />
            </div>
            <div class="small-img-col">
              <img src="/assets/images/gallery-3.jpg" class="small-img" />
            </div>
            <div class="small-img-col">
              <img src="/assets/images/gallery-4.jpg" class="small-img" />
            </div>
          </div>
        </div>
        <div class="col-2">
          <p>Home / T-shirt</p>
          <h2>{{producto.nombre}}</h2>
          <h4>${{producto.precio}}</h4>
          <select name="" id="">
            <option value="">Select Size</option>
            <option value="">XXL</option>
            <option value="">XL</option>
            <option value="">Large</option>
            <option value="">Medium</option>
            <option value="">Small</option>
          </select>
          <input type="number" value="1" />
          <a href="" class="btn">Add to Cart</a>
          <h3>Descripcion<i class="fa fa-indent"></i></h3>
          <br/>
          <p>
            {{producto.descripcion}}
          </p>
        </div>
      </div>
    </div>

    <!-- Title -->
    <div class="small-container">
      <div class="row row-2">
        <h2>Productos Relacionados</h2>
        <p>View More</p>
      </div>
    </div> --}}


  <!-- Product Details -->
  <section class="section product-detail">

    <div class="details container-md">
      <div class="left">
        <div class="main">
          <img src="{{producto.img}}" alt="">
        </div>
        <div class="thumbnails">
          <div class="thumbnail">
            <img src="{{producto.img}}" alt="">
          </div>
          <div class="thumbnail">
            <img src="{{producto.img}}" alt="">
          </div>
          <div class="thumbnail">
            <img src="{{producto.img}}" alt="">
          </div>
          <div class="thumbnail">
            <img src="{{producto.img}}" alt="">
          </div>
        </div>
      </div>
      <div class="right">
        <span>Home/T-shirt</span>
        <h2>{{producto.nombre}}</h2>
        <div class="price"><h2>${{producto.precio}}</h2></div>
        <form>
          <div>
            <select>
              <option value="Select Size" selected disabled>Select Size</option>
              <option value="1">32</option>
              <option value="2">42</option>
              <option value="3">52</option>
              <option value="4">62</option>
            </select>
            <span><i class='bx bx-chevron-down'></i></span>
          </div>
        </form>

        <form class="form">
          <input type="text" placeholder="1">
          <a href="cart/" class="addCart">Agregar al carrito</a>
        </form>
        <h3><b>Detalles del Producto</b></h3>
        <p>{{producto.descripcion}}</p>
      </div>
    </div>
  </section>

  <!-- Related -->
  {{!-- <section class="section featured">
    <div class="top container">
      <h1>Related Products</h1>
      <a href="#" class="view-more">View more</a>
    </div>

    <div class="product-center container">
      {{#each productosR}}
      <div class="product">
        <div class="product-header">
          <img src="{{img}}" alt="">
          <ul class="icons">
            <span><i class="bx bx-heart"></i></span>
            <span><i class="bx bx-shopping-bag"></i></span>
            <span><i class="bx bx-search"></i></span>
          </ul>
        </div>
        <div class="product-footer">
          <a href="#"><h3>{{nombre}}</h3></a>
          <div class="rating">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bx-star"></i>
          </div>
          <h4 class="price">${{precio}}</h4>
        </div>
      </div>
      {{/each}}
    </div>
  </section> --}}


